<!doctype html>
<html>
  <head>
  	<title>Login</title>
  	<center>
  		<h2>Username</h2>
  		<input type="text" name="username" value="jimmy_quach">
  		<p> </p>
  		<h2>Password</h2>
  		<input type="text" name="password" value="********">
  		<p> </p>
  		<a href="areyou.html">
  			<button type="button">Enter</button>
  		</a>
  		<p> </p>
  		<a href="index.html">
  			<button type="button">Back</button>
  		</a>
  	</center>
  
  <body>
  <style>
  body{
  	background-color: #bfefff;
  }
  </style>
  </head>
  <body>
  
  
  </body>
</html>
